.main {
    display: flex;
    justify-content: space-between;
}

.sidebar {
    min-width: 170px;
    max-width: 200px;
    flex-grow: 3;
    max-height: 360px;
}

.feed {
    min-width: 250px;
    flex-grow: 4;
}

