* {
 margin: 0; padding: 0; 
}

body {
    background: #282828;
    font-family: 'Roboto', sans-serif;
}    

h1, h2 { 
    padding: 10px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.25em;
    font-weight: 800;
    margin: 0 50px;
}

#page-wrap { 
    max-width: 940px;
    margin: 0 auto; 
    padding: 0 5%;
/*    background: lightblue;*/
}

header { 
/*    max-width: 960px; */
    min-width: 560px; 
    background: black;
    margin: 0 auto ;
    height: 95px;
}

.bird {
    background: black;
/*    position: relative;*/
    vertical-align: middle;
/*    top: -55px;
    left: 200px;*/
    height: 70px;
    margin: 0 20px;
}


/****************************************
LEFT SIDEBAR
****************************************/

.sidebar { 
background: #eee;
margin: 2%;
padding: 2%;
border-radius: 20px;
}

.profile-photo {
  display: block;
  max-width: 150px;
  margin: 3px auto ;
  border-radius: 30%;
}

h4 {
    text-align: left;
    margin: 5px auto;
}

.following {
    list-style: none;
    padding-left: 0;
}

ul.following {
    margin: 5px auto;
    line-height: 1.5;
}
/****************************************
FEED COLUMN
****************************************/

.feed {
    margin: 2%;
    padding: 2%;
    background: white; 
    border-radius: 20px;
 }

 input {
    display: block;
    margin: 0 auto 7px auto;
    border-radius: 5px;
    width: 90%;
    height: 40px;
}

 #user_text {
    height: 30px;
 }

button.refresh_tweets {
    display: block;
    border-radius: 5px;
    padding: 5px;
    width: 50%;
    min-width: 135px;
    margin: 10px auto 5px;
    background: #FFCC00;
    border: none;
    color: #fff;
    font-family: 'Open Sans', sans-serif;

}

.tweetlist div {
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    background: white;
    line-height: 1.5;
/*    border-top: 1px solid #bbb;*/

}

span.username, .username {
    color: #FF0066;
    font-weight: 700;
}

.time {
    color: #00CCFF;
    font-size: 0.70em;
}

.display_name {
    text-align: center;
    color: black;
}

footer             { max-width: 960px; min-width: 560px; background: #222;
                      margin: 0 auto 15px; }

